body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
  color: #fff;
}

.player {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.player__video {
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
}

.player__button,
.rewind,
.fastForward {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.progress,
.volume,
.playbackSpeed {
  margin: 0 10px;
  flex: 1;
}
